# GCP Project
GCP_PROJECT_ID=gdg-solution-challenge-490015

# Core API
ENVIRONMENT=local # 로컬에서 Firsebase 토큰 검증 우회 
GOOGLE_MAPS_API_KEY=AIzaSyAfTKZVCEiQn8ut21lFTS01Uy420QfwqAQ
FIRESTORE_COLLECTION_PREFIX=dev_

# Pipeline (only if running locally)
# GOOGLE_MAPS_API_KEY=...

# LLM
OPENAI_API_KEY=sk-...
